<template>
  <div class="h-screen bg-gray-300 py-4 max-h-screen flex flex-col">
    <!-- component -->
    <div class="container mx-auto">
      <alert-info></alert-info>
    </div>
    <div
      class="flex gap-4 flex-col sm:flex-row h-full max-h-full flex-auto"
      v-if="service"
    >
      <div class="md:w-3/12 flex flex-col">
        <add-alias></add-alias>
        <list-channels-selectable
          class="mt-4 flex-auto"
        ></list-channels-selectable>
      </div>
      <div class="w-6/12 flex-1 flex flex-col" v-if="member">
        <list-message class="flex-auto"></list-message>
        <add-message class="mt-4"></add-message>
      </div>
      <div class="w-3/12 flex" v-if="member">
        <list-members class="flex-auto"></list-members>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import ListChannelsSelectable from "../components/ListChannelsSelectable.vue";
import ListMembers from "../components/ListMembers.vue";
import ListMessage from "../components/ListMessage.vue";
import AddAlias from "../components/AddAlias.vue";
import AddMessage from "../components/AddMessage.vue";
import AlertInfo from "../components/AlertInfo.vue";
import { mapState, mapActions } from "vuex";

export default {
  name: "Chat",
  components: {
    ListChannelsSelectable,
    AddAlias,
    AlertInfo,
    ListMembers,
    ListMessage,
    AddMessage,
  },
  created() {
    this.verifyService();
  },
  computed: {
    ...mapState("services", ["service"]),
    ...mapState("members", ["member"]),
  },
  methods: {
    ...mapActions("services", ["getServices"]),
    ...mapActions("alert", ["addAlert"]),

    verifyService() {
      this.getServices().finally(() => {
        if (this.service != null) {
          console.log("verify sid: " + this.service.sid);
        } else {
          this.addAlert({
            alert: {
              type: { error: true },
              title: "No hay un servicio disponible",
              message:
                "Solicita al administrador que cree un servicio de chat.",
            },
          });
        }
      });
    },
  },
};
</script>
