<template>
  <div class="h-screen flex items-center">
    <div class="w-3/12 mx-auto bg-gray-300 rounded-lg shadow-inner p-4">
      <login-form></login-form>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import LoginForm from "../components/LoginForm.vue";
import { mapState, mapActions } from "vuex";

export default {
  name: "Login",
  components: {
    LoginForm,
  },
  created() {
    this.verifyService();
  },
  computed: {
    ...mapState("services", ["service"]),
  },
  methods: {
    ...mapActions("services", ["getServices", "addService"]),

    verifyService() {
      this.getServices().finally(() => {
        if (this.service != null) {
          console.log("verify sid: " + this.service.sid);
        } else {
          this.addService().finally(() => {
            this.verifyService();
          });
        }
      });
    },
  },
};
</script>
