<template>
  <div class="bg-gray-300 py-4 h-screen">
    <add-channel class="mx-auto"></add-channel>
    <div class="container mx-auto">
      <list-channels class="mt-4 m-2 sm:mx-0"></list-channels>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import AddChannel from "../components/AddChannel";
import ListChannels from "../components/ListChannels";

export default {
  name: "Management",
  components: {
    AddChannel,
    ListChannels,
  },
  data() {
    return {};
  },
  beforeCreate() {},
  created() {},
  mounted() {},
  computed: {},
  methods: {},
};
</script>

<style></style>
