<template>
  <div class="bg-white rounded-md shadow-lg sm:mx-2 p-2 flex justify-between">
    <input
      type="text"
      name="channel"
      id="channel"
      placeholder="Alias"
      class="border border-gray-200 rounded-md text-base md:text-lg px-2 py-1 w-full"
      v-model="name"
    />
    <button
      type="submit"
      class="hover:border-green-400 ml-2 bg-white text-gray-700 px-2 border border-gray-400 rounded-lg tracking-wide hover:bg-gray-100"
      @click="save()"
    >
      Save
    </button>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  name: "AddAlias",
  data() {
    return {
      name: this.alias,
    };
  },
  created() {},
  computed: {
    ...mapState(["alias"]),
  },
  methods: {
    ...mapActions(["setAlias"]),
    ...mapActions("alert", ["addAlert"]),

    save() {
      if (isEmptyOrSpaces(this.name)) {
        this.addAlert({
          alert: {
            type: { info: true },
            title: "Alias",
            message:
              "Se requiere un alias. Y solo se admiten valores alfanumericos.",
          },
        });
      } else {
        if (this.name.length >= 4) {
          this.setAlias({ alias: this.name });
        } else {
          this.addAlert({
            alert: {
              type: { info: true },
              title: "Alias",
              message: "El alias debe tener una longitud 4 caracteres o más.",
            },
          });
        }
      }
    },
  },
};

function isEmptyOrSpaces(str) {
  return str === "" || !str.match(/^[A-Za-z][A-Za-z0-9]*$/);
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
