<template>
  <div class="bg-white rounded-md shadow-lg p-4 w-8/12 flex justify-between">
    <input
      type="text"
      name="channel"
      id="channel"
      placeholder="Channel Name"
      class="border border-gray-200 rounded-md text-base md:text-lg px-3 py-2 w-full"
      v-model="name"
    />
    <button
      type="submit"
      class="hover:border-green-400 ml-2 bg-white text-gray-700 py-1 px-4 border border-gray-400 rounded-lg tracking-wide hover:bg-gray-100"
      @click="addChannel(name)"
    >
      Add
    </button>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "AddChannel",
  data() {
    return {
      name: "",
    };
  },
  created() {},
  methods: {
    ...mapActions("channels", ["addChannel"]),
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
