<template>
  <div
    class="bg-white rounded-md shadow-lg sm:mx-2 p-2 flex justify-between items-center"
  >
    <textarea
      name="message"
      id="message"
      placeholder="Message"
      class="border border-gray-200 rounded-md text-base md:text-lg px-2 py-1 w-full resize-none"
      v-model="name"
      rows="3"
      cols="50"
      maxlength="300"
    />
    <button
      type="submit"
      class="h-10 hover:border-green-400 ml-2 bg-white text-gray-700 px-2 border border-gray-400 rounded-lg tracking-wide hover:bg-gray-100"
      @click="send"
    >
      Send
    </button>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  name: "AddMessage",
  data() {
    return {
      name: this.message,
    };
  },
  created() {},
  computed: {
    ...mapState(["alias"]),
    ...mapState("members", ["member"]),
  },
  methods: {
    ...mapActions("messages", ["addMessage"]),
    send() {
      this.addMessage({
        identity: this.alias,
        service_sid: this.member.service_sid,
        channel_sid: this.member.channel_sid,
        body: this.name,
      }).then(() => {
        this.name = "";
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
