<template>
  <div>
    <div
      class="border-t-4 rounded-b px-4 py-3 shadow-md my-2 bg-gray-100-100 border-gray-500 text-gray-900"
      role="alert"
      v-for="(alert, index) in alerts"
      :key="index"
      :class="[
        { [`${okClass}`]: alert.type.ok },
        { [`${errorClass}`]: alert.type.error },
        { [`${infoClass}`]: alert.type.info },
      ]"
    >
      <div class="flex">
        <svg
          class="h-6 w-6 mr-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"
          />
        </svg>
        <div class="w-full">
          <div class="max-w-full flex justify-between">
            <div class="max-w-full">
              <p class="font-bold">{{ alert.title }}</p>
              <p class="text-sm">
                {{ alert.message }}
              </p>
            </div>
            <div class="flex flex-auto flex-row-reverse">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="100%"
                  height="100%"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-x cursor-pointer hover:text-red-400 rounded-full w-5 h-5 ml-2"
                  @click="close(alert)"
                >
                  <line x1="18" y1="6" x2="6" y2="18"></line>
                  <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  name: "AlertInfo",
  data() {
    return {
      okClass: " bg-teal-100 border-teal-500  text-teal-900 ",
      errorClass: " bg-red-100 border-red-500  text-red-900 ",
      infoClass: " bg-blue-100 border-blue-500  text-blue-900 ",
    };
  },

  created() {},
  computed: {
    ...mapState("alert", ["alerts"]),
  },
  methods: {
    ...mapActions("alert", ["deleteAlert"]),
    close(alert) {
      this.deleteAlert({ alert: alert });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
