<template>
  <div class="sm:mx-2 overflow-auto flex-col flex">
    <h3
      class="bg-white rounded-md shadow-lg my-2 text-gray-800 pb-2 font-bold p-4"
    >
      {{ chatRoomName }}
    </h3>
    <div
      id="MessagesScroll"
      class="text-gray-700 flex flex-col items-start flex-auto overflow-auto"
    >
      <div
        v-for="message in messages"
        :key="message.index"
        class="bg-white border-t-4 rounded-b px-4 py-3 shadow-md my-2 bg-gray-100-100 border-gray-500 text-gray-900"
        :class="[
          { [`self-end border-blue-500`]: member.identity == message.from },
        ]"
      >
        <div class="flex items-center justify-center">
          <div
            class="bg-blue-400 w-8 h-8 rounded-full flex items-center justify-center text-white shadow mr-4"
          >
            {{ message.from.substring(0, 2) }}
          </div>
          <div class="flex-auto">
            <div class="flex justify-between">
              <p class="font-bold">{{ message.from }}</p>
              <p class="font-hairline ml-4">{{ message.date_updated }}</p>
            </div>
            <p class="text-sm">
              {{ message.body }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from "vuex";

export default {
  name: "ListMessage",
  data() {
    return {};
  },
  created() {},
  computed: {
    ...mapState("members", ["member"]),
    ...mapState("messages", ["messages"]),
    ...mapGetters("channels", ["getChannelName"]),
    chatRoomName() {
      // eslint-disable-next-line no-debugger
      if (this.member != null) {
        return this.getChannelName;
      } else {
        return "Not chat room";
      }
    },
  },
  methods: {
    ...mapActions("messages", ["getMessages"]),
  },
  watch: {
    messages: function () {
      setTimeout(() => {
        var container = this.$el.querySelector("#MessagesScroll");

        container.scrollTop = container.scrollHeight;
      }, 100);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
