<template>
  <div
    class="bg-white rounded-md shadow-lg sm:mx-2 overflow-auto"
    v-if="orderedChanels.length >= 0"
  >
    <h3 class="my-2 mx-4 text-gray-800 border-b border-gray-500 pb-2 font-bold">
      Chat Rooms
    </h3>
    <ul class="w-full text-gray-700">
      <li
        v-for="(channel, index) in orderedChanels"
        :key="channel.sid"
        class="flex justify-between items-center hover:bg-blue-300 hover:text-white hover:font-bold cursor-pointer"
        @click="joinChannel(index)"
      >
        <p class="py-1 px-4">
          {{ channel.friendly_name }}
        </p>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";

export default {
  name: "ListChannelsSelectable",
  data() {
    return {
      name: "",
      indexForEdit: null,
    };
  },
  created() {
    this.getChannels();
    this.getMembers();
  },
  computed: {
    ...mapGetters("channels", ["orderedChanels"]),
    ...mapState("members", ["member"]),
    ...mapState(["alias"]),
  },
  methods: {
    ...mapActions("channels", ["getChannels"]),
    ...mapActions("members", [
      "addMember",
      "getMembers",
      "getMember",
      "getMembersOnline",
    ]),
    ...mapActions("alert", ["addAlert"]),
    ...mapActions(["setAlias"]),
    ...mapActions("messages", ["getMessages"]),

    joinChannel(index) {
      if (this.alias) {
        this.getMember({
          channel_sid: this.orderedChanels[index].sid,
          identity: this.alias,
        });

        if (this.member == null) {
          this.addMember({
            identity: this.alias,
            service_sid: this.orderedChanels[index].service_sid,
            channel_sid: this.orderedChanels[index].sid,
          }).then(() => {
            this.getInformation();
          });

          if (this.member == null) {
            this.addAlert({
              alert: {
                type: { info: true },
                title: "Chat Room",
                message: `El alias ${this.alias} ya existe en este chat room.`,
              },
            });
          }
        } else {
          this.setAlias({ alias: this.member.identity });
          this.getInformation();
        }
      } else {
        this.addAlert({
          alert: {
            type: { info: true },
            title: "Alias",
            message: "Se requiere un alias para entrar al chat room.",
          },
        });
      }
    },
    getInformation() {
      setInterval(() => {
        this.getMembersOnline({
          service_sid: this.member.service_sid,
          channel_sid: this.member.channel_sid,
        });
        this.getMessages({
          service_sid: this.member.service_sid,
          channel_sid: this.member.channel_sid,
        });
      }, 5000);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
