<template>
  <div class="bg-white rounded-md shadow-lg sm:mx-2 overflow-auto">
    <h3 class="my-2 mx-4 text-gray-800 border-b border-gray-500 pb-2 font-bold">
      Members in the chat room
    </h3>
    <ul class="w-full text-gray-700">
      <li
        v-for="member in orderedMembersOnline"
        :key="member.sid"
        class="flex items-center my-2"
      >
        <div
          class="bg-blue-400 w-8 h-8 rounded-full flex items-center justify-center text-white mx-4 shadow"
        >
          {{ member.identity.substring(0, 2) }}
        </div>
        <p class="py-1">
          {{ member.identity }}
        </p>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from "vuex";

export default {
  name: "ListMembers",
  data() {
    return {
      name: "",
      indexForEdit: null,
    };
  },
  created() {
    // this.getMembersOnline({
    //   service_sid: this.member.service_sid,
    //   channel_sid: this.member.channel_sid,
    // });
  },
  computed: {
    ...mapState("members", ["member"]),
    ...mapGetters("members", ["orderedMembersOnline"]),
  },
  methods: {
    ...mapActions("members", ["getMembersOnline"]),
  },
  watch: {},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
