<template>
  <div
    class="bg-white rounded-md shadow-lg p-4 sm:mx-2"
    v-if="orderedChanels.length >= 0"
  >
    <ul class="w-full">
      <li
        v-for="(channel, index) in orderedChanels"
        :key="channel.sid"
        class="flex justify-between items-center my-1"
      >
        <div>
          <p v-if="indexForEdit != index">
            {{ channel.friendly_name }}
          </p>
          <input
            type="text"
            name="channel"
            :id="`channel-${index}`"
            placeholder="Channel Name"
            class="border border-gray-200 rounded-md text-base md:text-lg px-3 py-2 w-full"
            v-model="name"
            v-if="indexForEdit == index"
          />
        </div>
        <div v-if="indexForEdit != index">
          <button
            type="submit"
            class="focus:outline-none hover:border-blue-300 bg-white text-gray-700 py-1 px-4 border border-gray-400 rounded-lg tracking-wide hover:bg-gray-100"
            @click="selectEdit(index)"
          >
            Edit
          </button>
          <button
            type="submit"
            class="focus:outline-none hover:border-red-300 ml-2 bg-white text-gray-700 py-1 px-4 border border-gray-400 rounded-lg tracking-wide hover:bg-gray-100"
            @click="deleteChannel({ sid: channel.sid })"
          >
            Delete
          </button>
        </div>

        <div v-if="indexForEdit == index">
          <button
            type="submit"
            class="focus:outline-none hover:border-red-300 bg-white text-gray-700 py-1 px-4 border border-gray-400 rounded-lg tracking-wide hover:bg-gray-100"
            @click="discardEdit"
          >
            Discard
          </button>
          <button
            type="submit"
            class="focus:outline-none hover:border-green-400 ml-2 bg-white text-gray-700 py-1 px-4 border border-gray-400 rounded-lg tracking-wide hover:bg-gray-100"
            @click="save"
          >
            Save
          </button>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "ListChannels",
  data() {
    return {
      name: "",
      indexForEdit: null,
    };
  },
  created() {
    this.getChannels();
  },
  computed: {
    ...mapGetters("channels", ["orderedChanels"]),
  },
  methods: {
    ...mapActions("channels", ["getChannels", "editChannel", "deleteChannel"]),
    selectEdit(index) {
      this.indexForEdit = index;
      this.name = this.orderedChanels[index].friendly_name;
    },
    discardEdit() {
      this.indexForEdit = null;
      this.name = "";
    },
    save() {
      this.editChannel({
        name: this.name,
        sid: this.orderedChanels[this.indexForEdit].sid,
      }).finally(() => {
        this.discardEdit();
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
