<template>
  <form class="">
    <input
      type="text"
      name="username"
      id="username"
      class="focus:border-blue-500 appearance-none border border-gray-500 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none shadow-inner"
      autocomplete="username"
      placeholder="Username"
      required
      v-model="username"
    />
    <input
      type="password"
      name="password"
      id="password"
      class="mt-2 focus:border-blue-500 appearance-none border border-gray-500 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none"
      autocomplete="current-password"
      placeholder="Password"
      required
      v-model="password"
    />

    <div class="flex justify-end mt-2">
      <button
        type="submit"
        @click="login"
        class="border-gray-500 border align-middle bg-blue-500 hover:bg-blue-600 text-center px-4 py-2 text-white text-sm font-semibold rounded-lg inline-block shadow-lg"
      >
        LOGIN
      </button>
    </div>
  </form>
</template>

<script>
export default {
  name: "LoginForm",
  data() {
    return {
      username: "",
      password: "",
    };
  },
  created() {
    sessionStorage.setItem("username", "admin");
    sessionStorage.setItem("password", "admin");
  },
  methods: {
    login(e) {
      if (
        this.username == sessionStorage.getItem("username") &&
        this.password == sessionStorage.getItem("password")
      ) {
        sessionStorage.setItem("isAuthenticated", true);

        this.$router.push({ name: "Management" });
      }
      e.preventDefault();
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
